<!DOCTYPE html>
<html>
<head>
  <title>Bunny</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="nav">
    Tuzi Chef
    <%= link_to "Home", root_url %>
    <%= link_to "Recipes", recipes_path %>
    <% if user_signed_in? %>
      <%= link_to "Account", edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
  <%= yield %>

</body>
</html>
